Conditional in Python

In [1]:
x = 0
y = 5

if x < y:                           #Truthy
    print('yes')
if y < x:                           #Falsy
    print('yes')
if x:                               #Falsy
    print('yes')
if y:                               #Truthy
    print('yes')
if 'aul' in 'grault':               #Truthy
    print ('yes')
if 'quux' in ['foo', 'bar', 'baz']: #Falsy
    print('yes')

yes
yes
yes

Grouping Statements: Indentation and Blocks

In [2]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print ('After Conditional')

After Conditional

Empat pernyataan print () pada baris 2 hingga 5 menjorok ke tingkat yang sama satu sama lain. Mereka merupakan blok yang akan dieksekusi jika kondisinya benar. Tapi itu salah, jadi semua pernyataan di blok itu dilewati. Setelah akhir dari if statement telah tercapai (tidak peduli pernyataan dalam blok pada baris 2 sampai 5 dieksekusi atau tidak), eksekusi dilanjutkan ke pernyataan pertama yang memiliki tingkat indentasi yang lebih rendah: pernyataan print () pada baris 6.

Blok dapat di nest hingga kedalaman berapapun. Setiap indentasi mendefinisikan blok baru, dan setiap outdent mengakhiri blok sebelumnya. Hasilnya, Struktur yang dihasilkan sangat jelas, konsisten, dan intuitif.

In [3]:
#does line execute?                     Yes     No
#                                       ---     ---
if 'foo' in ['foo', 'bar', 'baz']:      # x
    print ('Outer Condition is true')   # x

    if 10>20:                           # x
        print('Inner condition 1')      #       x
    
    print ('Between inner conditions')  # x

    if 10<20:                           # x
        print('Inner Condition 2')      # x

    print('End of outer condition')     # x
print('After outer condition')          # x

Outer Condition is true
Between inner conditions
Inner Condition 2
End of outer condition
After outer condition

The else and elif Clauses

Sekarang kalian tahu cara menggunakan pernyataan if untuk mengeksekusi pernyataan tunggal atau blok dari beberapa statement. Saatnya mencari tahu apa lagi yang bisa kalian lakukan.

Terkadang, kalian ingin mengevaluasi suatu kondisi dan mengambil satu jalur jika benar, tetapi menentukan jalur alternatif jika tidak benar. Ini dapat dilakukan dengan klausa else:

In [4]:
x = 20

if  x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [5]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

Ada juga sintaks untuk eksekusi percabangan berdasarkan beberapa alternatif. Untuk ini, gunakan satu atau lebih klausa elif (kependekan dari else if). Python mengevaluasi setiap <expr> secara bergantian dan menjalankan suite yang sesuai dengan yang pertama benar. Jika tidak ada ekspresi yang benar, dan klausa else ada disana, rangkaiannya akan dieksekusi:

In [7]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang >  hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [8]:
name = 'Hactiv8'
if name == 'Fred':
    print("Hello Fred")
elif name == 'Xander':
    print("Hello Xander")
elif name == 'Hactiv8':
    print("Hello Hactiv8")
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hactiv8

In [9]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [10]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [11]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print ('corge'); print('grault')

qux
quux

In [12]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print ('corge'); print('grault')

corge
grault

In [13]:
x = 3

if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

Conditional Expressions (Python’s Ternary Operator)

In [14]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [15]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [16]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [17]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [ ]:
if a > b
    m = a
else:
    m = b

In [20]:
if True:
    
print('foo')

IndentationError: expected an indented block after 'if' statement on line 1 (2249588765.py, line 3)

In [21]:
if True:
    pass

print('foo')

foo

In [22]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [ ]:
i = 1
while 1 < 6:
    print(i)
    i += 1

In [25]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [27]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

The Else Clause

In [29]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [30]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

Infinite Loops

In [ ]:
while True:
    print('foo')

Nested while Loops

In [ ]:
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [33]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))

    b = ['baz', 'qux']

    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

One-Line while Loops

In [37]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

Numeric Range Loop

In [ ]:
for i = 1 to 10
    <loop body>

In [ ]:
for (i = 1; i <= 10; i++)
    <loop body>

The Python for Loop

In [43]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [44]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [45]:
for k in d:
    print(d[k])

1
2
3

In [46]:
for k in d.values():
    print(k)

1
2
3

In [47]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

Iterating Through a Dictionary

In [48]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [49]:
for k in d:
    print(d[k])

1
2
3

In [50]:
for v in d.values():
    print(v)

1
2
3

The range() Function

In [51]:
for n in (0, 1, 2, 3 ,4):
    print(n)

0
1
2
3
4

In [52]:
x = range(5)

In [53]:
for n in x:
    print(n)

0
1
2
3
4

The break and continue Statements

In [54]:
for i in['foo', 'bar', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [58]:
for i in['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

The else Clause

In [59]:
for i in['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [60]:
for i in['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [64]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C:")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Temperaturnya adalah 68 derajat

In [65]:
while True:
    msg = input ("Ketikkan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

stop

In [67]:
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return

In [68]:
# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return;

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

In [69]:
def tambahkan_apel(jumlah_apel1, jumlah_apel2):
    total_apel = jumlah_apel1 + jumlah_apel2
    return total_apel

hasil = tambahkan_apel(3, 4)
print("Total apel:", hasil)

Total apel: 7

In [70]:
def sapa(nama):
    print("Halo,", nama)

sapa("Budi")

Halo, Budi

In [71]:
ch1 = 'A'
ch2 = 'a'
ch3 = ' ' # spasi

print(ord(ch1))
print(ord(ch2))
print(ord(ch3))
print(ord('A'))
print(ord('α'))

65
97
32
65
945

In [75]:
def printinfo (name, age):
    print("Name: ", name)
    print("Age: ", age)
    return;

printinfo (age = 4, name = 'a')

Name:  a
Age:  4

In [78]:
def printinfo (name, age = 26):
    print("Name: ", name)
    print("Age: ", age)
    return;

printinfo( age = 50, name = "hacktiv8" )
printinfo( name = "hacktiv" )

Name:  hacktiv8
Age:  50
Name:  hacktiv
Age:  26

In [83]:
jumlahKucing = 20

def jumlahHewan():
    jumlahAnjing = 30
    return jumlahKucing + jumlahAnjing

def jumlahKelinci():
    return jumlahKucing + jumlahKucing

jumlahHewan()
jumlahKelinci()

40